<% flash.each do |type, message| %>
  <div class="notification is-primary">
    <%= message unless message == "Signed in successfully." %>
  </div>
<% end %>

<% if @user.blank? %>
  Cannot find user. Please try again.
<% else %>
  <h3>Profile:</h3>
  <p>
    Username: <%= @user.username %><br>
    Name: <%= @user.name %>

    <% if @friend_request %>
      <%= simple_form_for @friend_request do |f| %>
      <%#= form_with model: @friend_request do |f| %>
        <%= f.hidden_field :sender_id, value: current_user.id %>
        <%= f.hidden_field :receiver_id, value: @user.id %>
        <%= f.submit "Send Friend Request" %>
      <% end %>
    <% end %>
  </p>
<% end %>
