<h3>Friends</h3><br>
 <!-- placeholder -->

<h3>Friend Requests</h3>
Received:<br>
  <% if @requests_received.empty? %>
    No pending requests.
  <% else %>
    <% @requests_received.each do |request| %>
      <%= request.sender.name %>
      <%#= form_with model: request, method: :patch do |f| %>
      <%= simple_form_for request, method: :patch do |f| %>
        <%= f.submit "Accept" %>
        <%= f.submit "Reject" %>
      <% end %>    
      <br>
    <% end %>
  <% end %>
<br>

Sent:<br>
  <% if @requests_sent.empty? %>
    No outstanding sent requests.
  <% else %>
    <% @requests_sent.each do |request| %>
      <%= request.receiver.name %><br>
    <% end %>
  <% end %>  

