<h3>Friends</h3><br>
  

<h3>Friend Requests</h3>
Received:<br>
  <% if @requests_received.empty? %>
    No pending requests.
  <% else %>
    <% @requests_received.each do |request| %>
      <%= request.sender.name %>
      <%= simple_form_for @friendship do |f| %>
        <%= f.hidden_field :receiver_id, value: current_user.id %>
        <%= f.hidden_field :sender_id, value: request.sender.id %>
        <%= f.button :button, "Accept" %>
        <%= f.button :button, "Reject" %>
      <% end %>   
      <br>
    <% end %>
  <% end %>

<br>

Sent:<br>
  <% if @requests_sent.empty? %>
    No outstanding sent requests.
  <% else %>
    <% @requests_sent.each do |request| %>
      <%= request.receiver.name %><br>
    <% end %>
  <% end %>  

